funciones_comunes/*
**/octave-workspace
pandoc.css
TEORIA/
WhatsApp Image*.jpeg
audios*/
carpetaMARIO/
materialTeoriaExtra/
practicaParcialitos/
videos/
biblia/
examenes/


enunciado\.txt

\.stfolder

\$RECYCLE\.BIN/S-1-5-21-1608948314-2692813731-3641010195-1001/
